@font-face {
    font-family: 'TanukiMagic';
    src: url('./material/TanukiMagic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body { 
    font-family: 'TanukiMagic', Arial, sans-serif;
    background-color: #E6FFE6;
    margin: 0;
    padding: 20px;
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: #2a2c46;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 96vw;
    z-index: 1000;
}

.header_inner {
    max-width: 100%;
    margin: auto;
    padding: 10px 20px;
    background-color: #2a2c46;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_inner a {
    font-size: 20px;
    text-decoration: none;
}

.title-logo {
    font-size: 32px;
    color: white;
}

.gnav-list {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.gnav-list li {
    margin-left: 15px;
}

.gnav-list li a {
    text-decoration: none;
    color: white ;
}

.gnav-list li a:hover {
    color: #FF6347;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #2a2c46;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 70px;
    white-space: nowrap;
}

h2::before, h2::after {
    content: '';
    height: 5px;
    background: linear-gradient(90deg, #2a2c46, #2a2c46); 
    border-radius: 5px;
    width: 4000px;
}

h2::before {
    margin-right: 10px;
}

h2::after {
    margin-left: 10px;
}

#introduction {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

p{
    line-height: 0.8;
    font-size: 25px;
    text-align: center;
    color: #2a2c46;
}

.item {
    display: flex;
    margin-bottom: 10px;
    max-width: 100%;
    align-items: flex-start;
}

.label, .separator, .value {
    line-height: 1.5;
    padding-top: 2px; 
}

.label {
    width: 100px;
    font-weight: bold;
    flex-shrink: 0;
}

.separator {
    width: 50px;
    text-align: center;
    font-weight: bold;
    flex-shrink: 0;
}

.value {
    flex-grow: 1;
    white-space: normal;
    text-align: left;
    word-break: break-word;
    margin: 0;
}

#works .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#works .work-details {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#works .work-details img {
    width: 300px;
    height: auto;
}

#works .block {
    flex: 1;
}

#skills .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#skills .skills-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

#skills .skills-details .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skills .skills-details .label {
    font-weight: bold;
    font-size: 25px;
    color: #2a2c46;
    margin: 0;
}

#skills .skills-details .value {
    color: #2a2c46;
    margin-top: 5px;
    padding-left: 20px;
}

#skills .skills-details img {
    width: 170px;
    height: auto;
}

#skills .skills-details:nth-child(2) img {
    margin-left: -10px;
}

#skills .block {
    flex: 1;
}

footer {
    background-color: #2a2c46;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
